@import '../variables/variables.scss';
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10px;

  @media (max-width: 768px) {
    font-size: 8px;
  }
}

body {
  background: $body;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
  &:hover {
    color: $primary !important;
  }
}

.primary-color {
  color: $primary;
}
.blue-color {
  color: $blue;
}

.line {
  height: 1px;
  margin: 20px 0;
  background: $border-light;
}

.product-btn {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #212529;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  outline: none;
  background: transparent;
  h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
  p {
    font-size: 13px;
    text-align: center;
    margin: 0 !important;
  }
  &.blue {
    background: $blue;
    h6, p {
      color: $white;
    }
  }
  &.yellow {
    background: $yellow;
  }
  &.primary {
    background: $primary;
    h6, p {
      color: $white;
    }
  }
}

.label-component {
  font-size: 15px;
  padding: 2px 10px;
  line-height: 1.5;
  border-radius: 5px;
  &.primary-color {
    background: $primary;
    color: $white;
  }
}

.quick-recommend-links {
  padding: 10px;
  background: $blue-light;
  margin: 10px 0;
  ul {
    list-style: circle;
    padding-left: 30px;
    li {
      padding: 8px 0;
      font-size: 15px;
      margin: 0 !important;

      a {
        color: $blue;
        font-size: 15px;
        line-height: 1.5;
      }
    }
  }
}

.editable-form-style {
  h2 {
    font-size: 25px;
    margin: 20px 0;
    font-weight: 600;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
  }

  p,
  li {
    line-height: 1.5;
    font-size: 17px;
    color: $gray-text;
    margin: 15px 0;
  }

  ul {
    list-style: circle;
    padding-left: 30px;
    margin: 10px 0;

    li {
      margin-bottom: 15px;
    }
  }

  a {
    font-size: 17px;
    font-weight: 600;
    color: $blue;
  }

  img {
    margin: 20px 0;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 20px 0;

    td {
      padding: 0 15px;
      border: 1px solid $border-light;
      width: 50%;
    }
  }

  iframe {
    width: 420px;
    margin: 20px auto;
  }
}