* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 10px; }
  @media (max-width: 768px) {
    html {
      font-size: 8px; } }

body {
  background: #f3f3f3; }

.flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-between {
  justify-content: space-between; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.items-center {
  align-items: center; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 0.3s ease; }
  a:hover {
    color: #b62329 !important; }

.primary-color {
  color: #b62329; }

.blue-color {
  color: #4c8cf5; }

.line {
  height: 1px;
  margin: 20px 0;
  background: #dee2e6; }

.product-btn {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #212529;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  outline: none;
  background: transparent; }
  .product-btn h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    text-align: center; }
    .product-btn h6 img {
      width: 20px;
      margin-right: 5px; }
  .product-btn p {
    font-size: 13px;
    text-align: center;
    margin: 0 !important; }
  .product-btn.blue {
    background: #4c8cf5; }
    .product-btn.blue h6, .product-btn.blue p {
      color: #fff; }
  .product-btn.yellow {
    background: #ffc20a; }
  .product-btn.primary {
    background: #b62329; }
    .product-btn.primary h6, .product-btn.primary p {
      color: #fff; }

.label-component {
  font-size: 15px;
  padding: 2px 10px;
  line-height: 1.5;
  border-radius: 5px; }
  .label-component.primary-color {
    background: #b62329;
    color: #fff; }

.quick-recommend-links {
  padding: 10px;
  background: #E1EEFF;
  margin: 10px 0; }
  .quick-recommend-links ul {
    list-style: circle;
    padding-left: 30px; }
    .quick-recommend-links ul li {
      padding: 8px 0;
      font-size: 15px;
      margin: 0 !important; }
      .quick-recommend-links ul li a {
        color: #4c8cf5;
        font-size: 15px;
        line-height: 1.5; }

.editable-form-style h2 {
  font-size: 25px;
  margin: 20px 0;
  font-weight: 600; }

.editable-form-style h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0; }

.editable-form-style p,
.editable-form-style li {
  line-height: 1.5;
  font-size: 17px;
  color: #333;
  margin: 15px 0; }

.editable-form-style ul {
  list-style: circle;
  padding-left: 30px;
  margin: 10px 0; }
  .editable-form-style ul li {
    margin-bottom: 15px; }

.editable-form-style a {
  font-size: 17px;
  font-weight: 600;
  color: #4c8cf5; }

.editable-form-style img {
  margin: 20px 0;
  width: 100%; }

.editable-form-style table {
  width: 100%;
  margin: 20px 0; }
  .editable-form-style table td {
    padding: 0 15px;
    border: 1px solid #dee2e6;
    width: 50%; }

.editable-form-style iframe {
  width: 420px;
  margin: 20px auto; }
