.hotline-element.flex.items-center
  .hotline-circle.flex.items-center.justify-center
    a(href="tel: 0123456789").hotline-icon.flex.items-center.justify-center
      img(src="./images/icon-hotline-phone.png", alt="")
  .hotline-phone 0123456789

.messenger-element.flex.items-center
  .hotline-circle.flex.items-center.justify-center
    a(href="m.me" target="_blank").hotline-icon.flex.items-center.justify-center
      img(src="./images/icon-messenger.svg", alt="")