.header-category {
  background: #b62329;
  margin-bottom: 10px; }
  .header-category .category-item {
    position: relative;
    max-width: 230px;
    flex: 0 0 230px; }
    .header-category .category-item.active .category-megamenu {
      display: block; }
  .header-category .link-item {
    height: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap; }
    .header-category .link-item img {
      width: 15px;
      margin-right: 10px; }
    .header-category .link-item.active, .header-category .link-item:hover {
      background: #a11f24;
      color: #fff !important; }
