@import '../../variables/variables.scss';

.category-detail-page {
  .category-filter {
    margin-bottom: 10px;
    padding: 15px 10px;
    background: $white;
    .filter-item {
      text-align: center;
      margin-bottom: 10px;
      margin-right: 10px;
      p {
        position: relative;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 20px;
        color: $white;
        font-weight: 500;
        background: $blue;
        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 10px;
          height: 10px;
          background: $blue;
          content: '';
          transform: translate(-50%, 50%) rotate(45deg);
        }
      }
      img {
        width: 50px;
        height: 50px;
        margin: 20px auto 0;
      }
    }
  }
  .category-sidebar {
    background: $white;
    padding: 5px 10px;
    h3 {
      margin: 10px 0 6px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
    }
    .filter-group {
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:not(:last-of-type) {
        border-bottom: 1px solid $border-light;
      }
    }
  }
  
  .checkbox-group {
    padding: 5px 0;
    cursor: pointer;
    input {
      margin-left: 3px;
      margin-right: 10px;
      transform: scale(1.4);
    }
    label {
      font-size: 15px;
    }
  }
  .category-product-main {
    margin-bottom: 10px;
    .category-sort {
      padding: 8px;
      background: $white;
      p {
        font-size: 15px;
        font-weight: 600;
        margin-right: 10px;
      }
      .checkbox-group {
        margin-right: 15px;
      }
    }
    .product-item {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4);
    }
  }
  .category-detail-description {
    padding: 5px 10px;
    border: 1px solid $border-light;
    background: $white;
    margin-bottom: 10px;
    ul {
      list-style: circle;
      padding-left: 30px;
      margin: 10px 0;
      li {
        margin-bottom: 10px;
      }
    }
    h2, p, a, li {
      font-size: 16px;
    }
    p {
      line-height: 1.5;
      margin: 10px 0;
    }
    a {
      font-weight: 600;
      color: $blue-dark;
    }
    h2 {
      color: $primary;
      margin: 10px 0;
      font-weight: 600;
    }
  }
}