@import '../../variables/variables.scss';

.tu-khoa {
  margin-bottom: 15px;
  .card {
    background: $white;
    padding: 15px 10px;
    p, a {
      font-size: 15px;
      line-height: 2;
    }
    a {
      color: $blue;
      padding: 0 10px;
      &:before {
        content: '•';
        margin: 0 5px;
        color: $blue;
      }
    }
  }
}