@import '../../variables/variables.scss';

.tu-khoa {
  margin-bottom: 15px;
  .container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  .card {
    background: $white;
    padding: 15px 10px;
    p, a {
      font-size: 15px;
      line-height: 2;
    }
    p {
      margin-right: 15px;
    }
    a {
      color: $blue;
      margin-right: 15px;
      display: inline-block;
      &:before {
        content: '•';
        margin: 0 5px;
        color: $blue;
      }
    }
  }
}