@import '../../variables/variables.scss';
@import '../../mixins/mixins.scss';

.list-product-mobile-component {
  margin-bottom: 10px;
  .list-header {
    border-bottom: 3px solid $primary;
    background: $white;

    h2 {
      position: relative;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      height: 45px;
      line-height: 45px;
      background: $primary;
      color: $white;
      padding: 0 10px;

    }
    .category-list {
      overflow: auto;
      padding: 5px;
      background: $white;
      a {
        font-size: 14px;
        font-weight: 500;
        background: $primary;
        white-space: nowrap;
        color: $white !important;
        font-weight: 600;
        padding: 5px;
        margin-right: 5px;
        border-radius: 5px;
      }
    }
    .header-see-more {
      padding-right: 5px;
      font-size: 15px;
      color: $blue;
      img {
        width: 10px;
        margin-left: 5px;
      }
    }
  }
  .list-items {
    background: $white;
    .product-item {
      border: 1px solid $border-light;
      background: $white;
      .product-image {
        position: relative;

        span {
          position: relative;
          z-index: 2;
        }
        .product-sale {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 45px;
          height: 45px;
          font-size: 15px;
          font-weight: 600;
          color: $white;
          z-index: 1;

          img {
            @include centerImage;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        img {
          @include centerImage;
        }
      }

      .product-info {
        padding: 5px;
      }

      .product-name {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .product-price {
        font-size: 17px;
        font-weight: 600;
        color: $primary;
      }
      del {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: $gray-dark;
      }
      .product-description {
        @include ellipsis(2);
        font-size: 12px;
        color: $blue;
      }
    }
  }
  &.list-new-component {
    .list-items {
      .product-item {
        border: none;
        padding: 8px;
        &:not(:last-of-type) {
          border-right: 1px solid $border-light;
        }
        .product-date {
          font-size: 15px;
          color: $gray-dark;
        }
      }
    }
  }
}