@import '../../variables/variables.scss';

.list-new-mobile-component {
  background: $white;
  .list-header {
    h2 {
      position: relative;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      height: 45px;
      line-height: 45px;
      background: $primary;
      color: $white;
      padding: 0 10px;
    }
  }
  .list-items {
    padding: 8px;
  }
  .news-item {
    padding: 10px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-light;
    }
    .new-image {
      img {
        width: 100%;
      }
    }
    .new-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }
    p {
      line-height: 1.5;
      font-size: 15px;
    }
    &.big {
      .new-image {
        margin-bottom: 15px;
      }
    }
    &.small {
      display: flex;
      .new-image {
        flex: 0 0 120px;
        max-width: 120px;
        margin-right: 10px;
      }
    }
  }
}