.tu-khoa
  .container
    .card.flex.flex-wrap
      p Tìm kiếm nhiều
      each item in ['Bồn nước Sơn hà', 'Bồn tự hoại Septic', 'Thái dương năng Sơn hà', 'Chậu rửa bát inox Sơn hà', 'Bình nước nóng Sơn hà', 'Thiết bị nhà bếp sơn hà', 'Máy lọc nước sơn hà', 'Sen vòi', 'Cây nước nóng lạnh sơn hà', 'Cây nước nóng lạnh', 'Máy lọc nước']
        a(href="#")= item
