.element-holine-mobile.flex.items-center
  .col-4
    a(href="tel: 0123456789").phone-ring
      .circle.red
        img(src="./images/phone-ring.png", alt="") 
      span.whitespace-nowrap Gọi ngay
  .col-4 
    a(href="tel: 0123456789").phone-ring
      .circle.blue
        img(src="./images/icon-messenger.svg", alt="") 
      span.whitespace-nowrap Chat Messenger
  .col-4 
    a(href="tel: 0123456789").phone-ring
      .circle.orange
        img(src="./images/icon-headphone.svg", alt="") 
      span.whitespace-nowrap Yêu cầu gọi lại 
  