.home-slider-mobile .owl-dots {
  display: flex;
  justify-content: center; }
  .home-slider-mobile .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.3s ease;
    background: #b62329;
    margin: 10px 5px; }
    .home-slider-mobile .owl-dots .owl-dot.active {
      border: 2px solid #fff; }

.home-slider-mobile .category-slider {
  overflow: auto;
  padding: 10px;
  background: #fff; }
  .home-slider-mobile .category-slider .list-wrap {
    flex: 0 0 80px;
    max-width: 80px;
    margin: 0 5px; }
    .home-slider-mobile .category-slider .list-wrap .icon {
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #dee2e6;
      background: #fff;
      width: 50px;
      height: 50px;
      display: block;
      margin: 0 auto 5px; }
    .home-slider-mobile .category-slider .list-wrap span {
      display: block;
      text-align: center;
      font-size: 12px; }
