.tab-component-mobile.tab-component .card-left {
  flex: 0 0 100%;
  max-width: 100%;
  overflow: auto;
  flex-direction: row; }
  .tab-component-mobile.tab-component .card-left .tab-item {
    white-space: nowrap;
    padding: 0 10px;
    margin: 0 10px 10px 0; }

.tab-component-mobile.tab-component .card-right .tab-item.active {
  display: block; }

.tab-component-mobile.tab-component .card-right .tab-item .tin-tuc-item.big {
  margin: 0 0 15px 0; }
  .tab-component-mobile.tab-component .card-right .tab-item .tin-tuc-item.big .tin-tuc-image {
    position: relative;
    width: 100%; }
  .tab-component-mobile.tab-component .card-right .tab-item .tin-tuc-item.big .tin-tuc-content a {
    font-size: 16px; }

.tab-component-mobile.tab-component .card-right .tab-item .tin-tuc-item .tin-tuc-image {
  width: 60%; }
